/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

.

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



 .head-div {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  }
  ::-webkit-resizer {
    display: none;
    pointer-events: none;
  }


  .input-form {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  resize:vertical;
  }
  .input-form::placeholder {
  color: transparent;
  }
  .input-form:placeholder-shown ~ .label-form {
  font-size: 1.3rem;
  cursor: text;
  top:0;
  }

  .label-form {
  position: absolute;
  top: 0;
  display: block;
  font-size: 1rem;
  color: #9b9b9b;
  }

  .input-form:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
  }
  .input-form:focus ~ .label-form {
  position: absolute;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
  }

  /* reset input */
  .input-form:required,
  .input-form:invalid {
  box-shadow: none;
  }




  /* demo */
  body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
  }

  h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 30px;
  }
  p {
  font-family: "Poppins", sans-serif;
  color: white;
  }


  .wtf {
  position: relative;
  background-color: #4CAF50;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 10px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  }

  .wtf:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
  }

  .wtf:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  }

  .myAtag {
  color: #808893;
  text-decoration: none;
  }


textarea{
width:400px;
height:100px;
border:1px solid #000000;
background-color:#CCCCCC;
font-size: inherit;
line-height: inherit;
padding: 3px;

}
.test {
  background: #24252a;
  border:1px solid #000000;
  background-color:#1b1c1f;
  font-size: inherit;
  line-height: inherit;
  padding: 3px;
  color:white;
  text-align:left;
  flex:auto;
  overflow-x:hidden;
  overflow-y:auto;
}


@media only screen and (max-height: 667px) {
  .test {
    margin-left:250px;
    color:white;
    width: 400px;
    height: 100px;

  }

}

.edit {
  position: relative;
  background-color: #0085BC;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 5px;
  width: 100px;
  margin-left:350px;
  top:51px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  }

  .edit:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
  }

  .edit:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  }

i {
  color:#9b9b9b;
}

#test3 {
  margin-left:300px;
  top:200px;
}
a {
  font-family: inherit;
  color: #808893;
  text-decoration: none;
  font-size: 1.2rem;
}

.edit1 {
  position: relative;
  background-color: #0085BC;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  width:100px;
  padding: 5px;
  margin-left:350px;
  top:-54px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  }

  .edit1:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
  }

  .edit1:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  }




  .next {
  position: relative;
  margin-left:650px;
  top:400px;
  background-color: #0085BC;
  border: none;
  font-size: 20px;
  color: #FFFFFF;
  padding: 5px;
  width: 70px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  }

  .next:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
  }

  .next:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
  }

  .chat {
  position: relative;
  top:500px;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  resize:vertical;
  }

  .chat::placeholder {
  color: transparent;
  }

  .chat:placeholder-shown ~ .message {
  font-size: 1.3rem;
  cursor: text;
  top:0;
  }

  .message {
  position: relative;
  top: 0;
  display: block;
  font-size: 1rem;
  color: #9b9b9b;
  }

  .chat:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
  }
  .chat:focus ~ .message {
  position: absolute;
  display: block;
  transition: 1s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
  }

  .chat:required,
  .chat:invalid {
  box-shadow: none;
  }

.chat {
  position: relative;
  top:500px;
}
